absl-py==2.0.*
accelerate==0.25.*
bitsandbytes==0.41.*
datasets==2.15.*
einops==0.7.*
evaluate==0.4.*
lightning==2.1.*
loguru==0.7.*
matplotlib==3.7.*
numpy==1.25.*
opentsne==1.0.*
pandas==2.0.*
pylcs==0.1.*
rouge-score==0.1.*
scikit-learn==1.2.*
seaborn==0.12.*
sentence_transformers==2.2.*
torch==2.0.*
tqdm==4.66.*
transformers==4.36.*